__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pytest_cache/
.pytest_cache/
coverage.xml
htmlcov/
*.egg-info/
.dist-info/
*.egg
build/
__MACOSX/
.DS_Store
.git
.gitignore
.env
.env.*
*.log
*.md
docs/
tests/
